html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: #ebf2ff;
}

a {
	color: inherit;
	text-decoration: underline;
}

* {
	box-sizing: border-box;
}
