.homePageContainer {
	--width: 92vw;
	max-width: var(--width);
	margin: 0 auto;
}

.main {
	--column-count: 4;
	margin: 0 auto;
}

.imagesContainer {
	--column-gap: 7px;
	--image-card-width: calc(
		var(--width) / var(--column-count) - var(--column-gap)
	);
	display: flex;
	flex-wrap: wrap;
	gap: var(--column-gap);
}

.imagesContainer_column {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.profileCard {
	width: fit-content;
	margin: 60px auto 50px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.profileCard_image {
	width: 128px;
	height: fit-content;
}

.profileCard_secondColumn {
	display: flex;
	flex-direction: column;
}

.profileCard_secondColumn p {
	margin: 0;
	font-size: 1.05em;
	margin-bottom: 10px;
	max-width: 45ch;
}

.profileCard_titleImage {
	margin-bottom: 10px;
	margin-top: 12px;
	height: 60px;
	width: fit-content;
}

.profileCard_socialLinks {
	width: fit-content;
}

.profileCard_socialLinks img {
	width: 28px;
	height: auto;
}

@media (max-width: 500px) {
	/* mobile */
	.homePageContainer {
		width: 90vw;
	}
	.imagesContainer {
		--image-card-width: var(--width);
		justify-content: center;
	}
	.profileCard {
		flex-direction: column;
	}
}

@media (max-width: 600px) {
	.main {
		--column-count: 2;
	}

	.profileCard {
		flex-direction: column;
		align-items: center;
	}
	.profileCard_secondColumn {
		align-items: center;
		text-align: center;
	}

	.profileCard_secondColumn p {
		/* text-align: center; */
		/* max-width: 38ch; */
		/* align-items: center; */
	}
}

@media (max-width: 700px) {
	/* tab */
	.main {
		--column-count: 3;
	}
}
