.homePageContainer {
	--width: 92vw;
	max-width: var(--width);
	/* background: red; */
	margin: 0 auto;
}

.main {
	margin: 0 auto;
	/* background: blue; */
}

.imagesContainer {
	--image-card-width: calc(var(--width) / 4);
	display: flex;
	flex-wrap: wrap;
}

.profileCard {
	/* background: blue; */
	width: fit-content;
	margin: 60px auto 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profileCard_image {
	width: 128px;
	height: auto;
}

.profileCard_title {
	font-size: 2.2em;
	margin-bottom: 10px;
	margin-top: 10px;
}

.profileCard_socialLinks {
	width: fit-content;
}

.profileCard_socialLinks img {
	width: 28px;
	height: auto;
}
