.homePageContainer {
	--width: 92vw;
	max-width: var(--width);
	margin: 0 auto;
}

.main {
	--column-count: 4;
	margin: 0 auto;
}

.imagesContainer {
	--column-gap: 7px;
	--image-card-width: calc(
		var(--width) / var(--column-count) - var(--column-gap)
	);
	display: flex;
	flex-wrap: wrap;
	gap: var(--column-gap);
}

.imagesContainer_column {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.profileCard {
	width: fit-content;
	margin: 60px auto 50px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}

.profileCard_image {
	width: 128px;
	height: auto;
}

.profileCard_secondColumn {
}

.profileCard_secondColumn p {
	margin: 0;
	font-size: 1.05em;
	margin-bottom: 10px;
}

.profileCard_title {
	font-size: 1.9em;
	margin-bottom: 10px;
	margin-top: 10px;
}

.profileCard_socialLinks {
	width: fit-content;
}

.profileCard_socialLinks img {
	width: 28px;
	height: auto;
}

@media (max-width: 500px) {
	/* mobile */
	.homePageContainer {
		width: 90vw;
	}
	.imagesContainer {
		--image-card-width: var(--width);
		justify-content: center;
	}
	.profileCard {
		flex-direction: column;
	}
}

@media (max-width: 600px) {
	.main {
		--column-count: 2;
	}
}

@media (max-width: 700px) {
	/* tab */
	.main {
		--column-count: 3;
	}
}
