.container {
	--normal-width: 360px;
	width: var(--image-card-width, var(--normal-width));
	height: fit-content;

	position: relative;

	border-radius: 5px;
	overflow: hidden;

	transform: scale(1);
	transition: box-shadow 0.25s ease-in-out, transform 0.2s ease-in-out;
}

.container:hover {
	transform: scale(1.02);
	box-shadow: 0px -2px 33px 3px rgba(0, 0, 0, 0.1);
}

.image {
	border-radius: inherit;
	max-width: 300px;
}

.downloadIconContainer {
	display: none;
	pointer-events: none;
	position: absolute;

	z-index: 10;
	bottom: 20px;
	right: 20px;
	background-color: white;
	padding: 4px 5px;
	border-radius: 50%;
}

.container:hover .downloadIconContainer {
	display: block;
	pointer-events: auto;
	cursor: pointer;
}

.downloadIcon {
	--size: 25px;
	width: var(--size);
	height: var(--size);
}

@media (max-width: 500px) {
	.container {
		max-width: 320px;
	}
	.container .downloadIconContainer {
		display: block;
		pointer-events: auto;
		cursor: pointer;
	}
}
